*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    }
    .outer{
        height: 100vh;
        overflow-x: hidden;
    }
    .inner{
        margin: 50px auto;
        width: 500px;
        height: 500px;
        background-image: url(https://static0.srcdn.com/wordpress/wp-content/uploads/2021/12/encanto-dolores.jpg?q=50&fit=crop&w=963&h=481&dpr=1.5);
        background-size: cover;
        background-position: center;
        position: relative;
        box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.4);
    }
    .inner h1{
        width: 98%;
        text-align: center;
        font-size: 25px;
        color: rgb(255, 238, 0);
        top: 65%;
        position: absolute;}